* {
  margin: 0;
  padding: 0;
  /* text-decoration: none; */
}

body {
  width: 960px;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 18px;
}

.heading {
  border-bottom: 1px solid black;
  text-align: center;
  padding: 1em 0 0.5em;
  margin-bottom: 0.8em;
}

.img {
  width: 400px;
  height: 400px;
}

.container {
  display: flex;
  gap: 1em;
  align-items: center;
}